:root{
    --primary-color:rgb(238, 119, 9);
    --secondary-font-family:'Shadows Into Light',cursive;
    --main-font-family:'Mouse Memoirs',sans-serif;
    --secondary-color:rgb(30, 3, 54);
    --button-color:rgba(255, 251, 14, 0.952);
}
.project{
    text-align:center;
    padding:160px 20px;
    line-height: 6px ;
    color:var(--primary-color);
  

}
.name {
    font-family: var(--secondary-font-family);
    color: var(--primary-color);
    font-size: 96px;
}

body {
   background-color:var(--secondary-color);
    font-family: var(--main-font-family);
}

p {
    font-family: var(--secondary-font-family);
    color:var(--primary-color);
    font-size: 45px;
    margin: 0;
}

h2{
    font-family: var(--secondary-font-family);
    font-size: 24px;
    line-height:2px;
    color:var(--primary-color);
    padding:25px 0px 25px 0px
}

.btn-btn-primary{
    background: var(--button-color) ;
    border-radius:4px;
    color:var(--secondary-color);
    font-size:25px;
    line-height:27px;
    padding:10px 30px;
    text-decoration: none;
}
.project-description p{
    font-size:  26px;
    line-height:30px;
    color:var(--primary-color);
}
.project-description h2{
    font-family: var(--secondary-font-family);
        font-size: 64px;
        line-height: 2px;
        color: var(--primary-color);
}


@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        text-align: center;
        line-height:2;
    }

    .project-desciption{
        padding:0;
        text-align:center;
    }
         h2 {
             font-size: 44px;
             text-align: center;
             line-height: 2;
         }

    .hero{ 
             padding: 80px 20px;
    }
    p{
        color:var(--primary-color);
    }
}

